body {
    background-color: #021526;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#main {
    position: relative;
    z-index: 10;
    flex-direction: column;
    display: flex;
    border-radius: 15px;
    /* justify-content: center; */
    align-items: center;
    background-color: #03346E;
    width: 1240px;
    height: 940px;
    /* margin: 0 auto; */
    gap: 10px;
}

.questoes {
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 70px;
    height: 160px;
    border-radius: 15px;
    background-color: #6eacda;
    transition: left 0.4s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.pagina {
    display: flex;
    flex-direction: column;
}

#titulo {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.im {
    border-radius: 15px;
    margin: 5px;
    width: 160px;
    height: 140px;
}

.alter {
    flex-direction: column;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27548A;
    width: 660px;
    height: 140px;
}

.opcao {
    display: flex;
    text-align: center;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    gap: 65px;
}

.cores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

#more {
    display: none;
    position: absolute;
    z-index: 50;
    width: 280px;
    height: 1000px;
    right: 65px;
    background-color: #27548A;
}